80:HTTP:Веб-интерфейсы, локальные веб-серверы
22:SSH:Linux, Raspberry Pi, macOS, серверы
23:Telnet:Старые прошивки, ESP32
139:NetBIOS:Windows-шары
443:HTTPS:Веб-интерфейсы, локальные веб-серверы с SSL
445:SMB:Windows, NAS
515:LPD:Принтеры
548:AFP:macOS, Time Machine
554:RTSP:IP-камеры
631:IPP:Принтеры, CUPS
1234:GDB:ESP, прошивки
3389:RDP:Windows
5000:HTTP:Raspberry Pi с OctoPrint
5432:HTTP:PostgresQL
5900:VNC:Удалённый рабочий стол
8080:HTTP:Встроенные панели, ESP, роутеры
8888:HTTP:Принтеры, камеры, лампы
9100:JetDirect:HP-принтеры
